:root {
    --dark-background: #151515; 
    --in-between-color: #303030; 
    --light-background: #202020; 
    --blue-highlight: #659af0; 
    --orange-highlight: #f09165; 
    --green-highlight: #aff065; 
    --header-two: #6be053; 
    --content-padding: 1vw; 
    --toolbar-height: 2.5vh;
    --light-green-highlight: #d8f56e; 
    --outer-row-width: minmax(3vh, 25px); 
}

.containImage {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    color: var(--light-green-highlight); 
}

h2 {
    color: var(--header-two); 
}

h3 {
    color: var(--blue-highlight); 
}

html {
    background-color: var(--dark-background);
    color: white;
    font-family: 'Inconsolata', monospace;
    margin: 0; 
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: minmax(5px, 1.5fr) 4fr minmax(5px, 1.5fr); 
    grid-template-rows: var(--outer-row-width) var(--toolbar-height) minmax(95vh, auto) var(--outer-row-width); 
    margin: 0;
    padding: 0;
}

.breadcrumb {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1; 
    font-size: small;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: var(--light-background);
    border-style: solid;
    border-width: 1px;
    border-color: var(--in-between-color);
}

.footer-content {
    background-color: var(--light-background);
    grid-row: 4 / span 1; 
    grid-column: 2 / span 1;
    padding-left: var(--content-padding);
}

.main-content {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    background-color: var(--light-background);
    padding-left: var(--content-padding);
    padding-right: var(--content-padding);
}

.header-content {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    background-color: var(--dark-background);
}

.tab {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--in-between-color);
}

.selected-tab {
    border-top-color: var(--blue-highlight);
    background-color: var(--light-background);
    font-weight: 700;
}

.header-container {
    display: flex;
    align-items: center;
    height: 100%;
}

ul li {
    padding: 3px 0px; 
}

.inline-code {
    color: var(--orange-highlight);
    font-family: monospace;
}

a:hover {
    color: var(--blue-highlight); 
}

a {
    text-decoration: none;
    color: white;
}

.normal-link {
    color: var(--orange-highlight); 
    text-decoration: underline;
}

em {
    color: var(--green-highlight); 
}
