@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Rubik:wght@300&display=swap');

body {
  font-family: 'Josefin Sans', serif; 
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;  
  background-color: black; 
}

a {
  text-decoration: none; 
  font-size: 1vw; 
  color: white; 
}

.white-link {
  color: white; 
}

.dark-link {
  color: black;  
}

.light {
  background-image: url("images/light-computer.jpg");
}

.dark {
  background-image: url("images/dark-computer.jpg");
}

.code {
  background-image: url("images/dark-code.jpg");
}

@keyframes slide-down {
  from {
    opacity: 0;
    padding: 0px 0px 0px 0px;
    margin:  10px 0 px 15px 0px; 
  }
  to {
    opacity: 1;
    margin: 0;
    padding: 10px 0px 15px 0px;
  }
}

#nav-bar { 
  height: 25%;
  background-color: rgba(0, 0, 0, 0.8); 
  backdrop-filter: blur(10px);
  width: 100%;
  padding: 10px 0px 15px 0px;
  animation-name: slide-down; 
  animation-duration: 1s; 
  display: fixed; 
  top: 0;
  left: 0;
}

button {
  color: white; 
  background-color: black; 
  font-size: 1vw; 
  font-family: 'Josefin Sans', serif; 
  border: black;
  cursor: pointer; 
}

@keyframes slide-right {
  from {
    margin-right: 100%;
    margin-left: 0%;
    opacity: 0; 
  }
  to {
    margin-right: 43%;
    margin-left: 5%; 
    opacity: 1; 
  }
}

@keyframes content-in {
  from {
    opacity: 0%; 
    left: 0%;
  }
  to {
    opacity: 100%; 
    left: 5%; 
  }
}

.content {
  position: absolute; 
  top: 20%;
  left: 5%; 
  width: 95%; 
}

.title {
  font-size: 7vw; 
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  font-family: 'Times New Roman', serif; 
  color: white; 
  display: inline-block;
  margin: 0 5px 1% 0px; 
  padding: 20px;
  border-radius: 10px; 
  backdrop-filter: blur(10px);
}

.description {
  font-size: 1vw; 
  color: black; 
  background-color: rgba(255, 255, 255, 0.8); 
  display: inline-block;
  width: 30%;
  padding: 20px 20px 20px 20px; 
  margin: 0; 
  font-family: "Josefin Sans"; 
  border-radius: 10px; 
  backdrop-filter: blur(10px);
}

.visible {
  visibility: visible; 
  animation-duration: 0.5s;
  animation-name: content-in; 
}

.hidden {
  visibility: hidden; 
}

.welcome-shown {  
  animation-duration: 1s; 
  animation-name: slide-right; 
}

h1 {
  font-size: 13vw;
  margin-top: 23%; 
  margin-bottom: 5%;
  margin-right: 43%;
  margin-left: 5%; 
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 0px 10px 10px; 
  color: white; 
  font-family: 'Times New Roman', serif; 
  border-radius: 10px; 
  backdrop-filter: blur(10px);
}

#nav-content {
  margin-left: 5%; 
}

.nav-menu {
  margin-left: 10px; 
  background-color: rgba(0, 0, 0, 0); 
}

#nav-label {
  color: white; 
  font-size: 1vw;
}

#vertical-line {
  margin-left: 20px;
  border-left: medium solid white; 
  padding-right: 10px;
}

#pipe {
  color: white; 
}

.invert-color: {
  background: white ! important;
  color: black ! important; 
}